body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header h1{
    font-size: 50px;
    font-weight: normal;
}

header a{
    color: aquamarine;
    font-size: 16px;
}

video{
    height: 600px;
    width: 100%;
    margin: 20px 0;

}

section h2{
    font-weight: 300;
    font-size: 42px;
}
section p{
    font-size: 21px;
    color: gray;
}

section p>a{
    color: aquamarine;
}

p img{
    width: 40px;
    height: auto;
    margin: 20px auto;
}
footer p{
    color: gray;
    text-align: right;
}